/*SET UP GENERIC CONTAINER CLASSES*/

.wrapper-full-width{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.container{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: auto;
    position: relative
}

.row{
    position: relative
}


/*SET UP REAL 12 PART GRID*/

.col-1x, .col-2x, .col-3x, .col-4x, .col-5x, .col-6x, .col-7x, .col-8x, .col-9x, .col-10x, .col-11x, .col-12x{
    display: inline-block;
    margin-left: -4px;
    padding: 0 1%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
        vertical-align: top;
	
	/*background-color: red; */
	
}

*[class^="col-"]:first-child{
    margin-left: 0
}

.col-12x{
    width: 100%;

}

.col-11x{
    width: 91.6%;

}

.col-10x{
    width: 83.3%;

}

.col-9x{
    width: 75%
}

.col-8x{
    width: 66.6%
}

.col-7x{
    width: 58.3%
}

.col-6x{
    width: 49.9%
}

.col-5x{
   width: 41.7%
}

.col-4x{
   width: 33.3%
}

.col-3x{
   width: 24.9%
}

.col-2x{
   width: 16.6%
}

.col-1x{
   width: 8.3%
}




/* MEDIA START */

@media all and (max-width: 481px){
    .col-1x, .col-2x, .col-3x, .col-4x, .col-5x, .col-6x, .col-7x, .col-8x, .col-9x, .col-10x, .col-11x, .col-12x{
        width: 100%;
        margin-left: 0;
    }
}

@media all and (max-width: 737px) and (orientation: landscape){
    .col-1x, .col-2x, .col-3x, .col-4x, .col-5x, .col-6x, .col-7x, .col-8x, .col-9x, .col-10x, .col-11x, .col-12x{
        width: 100%;
        margin-left: 0;
    }
}

@media all and (max-width: 415px) and (orientation: portrait){
    .col-1x, .col-2x, .col-3x, .col-4x, .col-5x, .col-6x, .col-7x, .col-8x, .col-9x, .col-10x, .col-11x, .col-12x{
        padding: 0 3%
    }
}





