@font-face {
   font-family: 'Century Gothic';
   src: url(../fonts/century_gothic.eot);
   src: local('Century Gothic'), url('../fonts/century_gothic.ttf') format('truetype');
}
@font-face {
   font-family: 'Century Gothic Bold';
   src: url(../fonts/century_gothic_bold.eot);
   src: local('Century Gothic'), url('../fonts/century_gothic_bold.ttf') format('truetype');
}

body{
    /*background-color: rgb(239, 239, 239);*/
    background-color: white;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.hide{
    display:none;
}

.top-header{
    background-color: rgb(239, 239, 239);
    padding-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(145, 145, 145)
}

.top-header .container{
    text-align: center;
    position: relative
}

.top-header .container .social-icon-container i{
  color: rgb(145,145,145);
  margin: 0px 0px;
  font-size: 1.7em;
  margin: 0 5px;
  cursor: pointer;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

.top-header .container .social-icon-container{
    display: inline-block
}

.top-header .container .social-icon-container i:hover{
  color: rgb(63, 168, 251);
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

.top-header .container .social-icon-container i:first-child , .top-header .container .social-icon-container i:last-child{
    margin: 0px
}

.right-floated-menu{
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(145,145,145);
    font-family: 'Century Gothic'
}

.right-floated-menu a{
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

.right-floated-menu a:hover{
    color: rgb(63, 168, 251);
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

/* display home account profile  */

#accountProfileDashboard{
    display:none;
}
#accountRegistration{
    display:none;
}

.textured-section{
    text-align: center;
    border-bottom: 1px solid rgb(145, 145, 145);
    background-image: url('/images/pattern.svg');
    background-repeat: repeat-x;
    background-color: rgba(255,255,255,1);
}

.sub-big-icon{
   text-align: center; 
}

.sub-big-icon .container .col-12x{
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative
}

.textured-section .container .col-12x{
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative
}

.big-icon-container{
    color: rgb(145,145,145);
    display: inline-block
}

.big-icon-container a{
    margin: 0 30px;
    font-family: 'Century Gothic Bold';
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.8em;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.big-icon-container a small{
  font-size: .6em;
  font-family: 'Century Gothic';
}

.sub-big-icon .big-icon-container a svg polygon, .sub-big-icon .big-icon-container a svg rect, .sub-big-icon .big-icon-container a svg path{
    fill: rgb(63, 168, 251);
}

.big-icon-container a:last-child svg{
    margin-right: 10px
}

.big-icon-container a svg polygon,.big-icon-container a svg rect,.big-icon-container a svg path{
    fill: rgb(145,145,145);
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.big-icon-container a:hover{
    color: rgb(63, 168, 251);
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
      text-decoration: none;
}

.big-icon-container a:hover svg polygon,.big-icon-container a:hover svg rect,.big-icon-container a:hover svg path{
    fill: rgb(63, 168, 251);
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.big-icon-container a img, .big-icon-container a svg{
    width: 32px;
    height: 32px;
    vertical-align: middle
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 5px;
    height: 100%;
    cursor: pointer
}

.logo>a>img{
    height: 100%
}

.search-bar{
    background-color: rgb(229, 229, 229);
    margin-top: 1px;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 1px
}

.search-bar .container{
    position: relative;
    text-align: center
}
#revo-slider{
    overflow: hidden
}
#revo-slider img{
    width: 100%
}

.band{
    position: relative;
    text-align: center;
    height:43px;
    border-bottom: 1px solid rgb(145,145,145);
    font-family: 'Century Gothic Bold';
    color:rgb(145,145,145);
    font-size: 1.8em;
    margin-bottom: 40px;    
    transition: all .2s linear;
    -webkit-transition: all .2s linear;    
    font-weight: bold;    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,ffffff+40,e2e2e2+100 */
    background: rgb(252,252,252); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(255,255,255,1) 40%, rgba(226,226,226,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(255,255,255,1) 40%,rgba(226,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(255,255,255,1) 40%,rgba(226,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-8 */             
} 
.band :after{
    position: absolute;
    bottom: -4px;
    border-bottom: 1px solid rgb(145,145,145);
    content: " ";
    height: 1px;
    width: 100%;
    left: 0px;
}
.band a small{
    font-size: .5em;
    font-family: 'Century Gothic';
}
.band a svg{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    fill: rgb(63, 168, 251);
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;    
}
.band a svg polygon,.band a svg rect,.band a svg path{
    fill: rgb(63, 168, 251);
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.homePromoEvidenceButton{
    border: 1px solid rgb(145,145,145);
    position: relative;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    z-index: 100;
    font-family: 'Century Gothic';
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(145,145,145);
    padding-top: 8px;
    width: 120px;
    text-transform: uppercase;
    font-size: 16px;
}
.lineEvidence:before{
    border-bottom: 1px solid rgb(145,145,145);    
    position:absolute;
    z-index:90;
    top: 15px;
    content: " ";        
    height:1px;
    width:100%;
}
.evidencePromos{
    margin-top:30px;
    margin-bottom:30px;
    height:350px;
    box-sizing: border-box;
    position:relative;
}
.imageEvidencePromo{
    background-image:url('/images/promos/promotest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:250px;
    width:100%;
}
.titleEvidencePromo{
    width:100%;    
    font-family: 'Century Gothic'; 
    text-transform: uppercase;
    box-sizing: border-box;
    font-size: 20px;
    padding: 8px 3px 5px 3px;
    color: #919191;
    /*font-weight: bold;    */
}
.addressEvidencePromo{
    width:100%;    
    font-family: 'Century Gothic'; 
    box-sizing: border-box;
    font-size: 15px;
    padding: 8px 3px 5px 3px;   
    color: #919191;
}
.expiredEvidencePromo{
    width:100%;    
    font-family: 'Century Gothic'; 
    box-sizing: border-box;
    font-size: 15px;
    padding: 8px 3px 5px 3px;   
    color: #919191;
}
.expiredEvidencePromo strong{
    font-size:15px;
    font-family: 'Century Gothic';     
    font-weight: bold;
    padding-left:10px;    
    color:rgb(62, 168, 251);
}

.seeButton{
    color: rgb(62, 168, 251);
    font-family: 'Century Gothic';
    border: 1px solid #919191;
    padding: 4px;
    box-sizing: border-box;
    width: 48px;
    float: right;
    margin-top: -26px;
    font-size: 16px;
    cursor:pointer;
    background-color: white;    
}

.badgepromo{
    border: 1px solid #d2d2d2;
    height:70px;    
    margin-top: 35px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,ffffff+40,e2e2e2+100 */
    background: rgb(252,252,252); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(255,255,255,1) 40%, rgba(226,226,226,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(255,255,255,1) 40%,rgba(226,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(255,255,255,1) 40%,rgba(226,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-8 */    
}
.floatleft{
    float:left;
    width: 40%;
}

form.search-form{
    padding-top: 5px;
    padding-bottom: 5px;
}

form.search-form input, form.search-form select{
    color: rgb(145,145,145);
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid rgb(145,145,145);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: none;
    margin: 0 3px;
    width: 20%;
    font-size: 1em;
    font-family: 'Century Gothic'
}

form.search-form button {
      height: 35px;
  border: 0;
  vertical-align: top;
  background-color: transparent;
  width: 50px;
  background-image: url('/images/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  cursor: pointer
}
.footer-menu-icon-set{
    font-family: 'Century Gothic Bold';
    font-weight: bold;
    font-size: 1.1em;
    text-transform: capitalize;
    color: rgb(62, 168, 251);
}

.footer-menu-icon-set>.single{
    display: inline-block;
    margin: 0 40px;
    vertical-align: top
}

.footer-menu-icon-set>.single>a{
    display: block;
    text-align: left
}

.footer-menu-icon-set>.single>ul{
    font-family: 'Century Gothic';
    font-weight: normal;
    text-align: left;
    font-size: .8em;
    color: rgb(145, 145, 145);
    line-height: 1.2em;
    margin-top: 10px;
}

.footer-menu-icon-set>.single>ul li{
    cursor: pointer;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.footer-menu-icon-set>.single>ul li:hover{
    color: rgb(62, 168, 251);
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.footer-menu-icon-set>.single>ul>li:before,.footer-menu-icon-set>.single>ul>a>li:before{
    content:"- ";
}

.footer-menu-icon-set>.single svg,.footer-menu-icon-set>.single img{
    width: 32px;
    height: 32px;
    vertical-align: middle
}

footer .textured-section{
    border-top: 1px solid rgb(145,145,145);
    border-bottom: 1px solid rgb(145,145,145);
}

footer .col-12x.bottom-menu{
    padding-top: 10px !important;
    padding-bottom: 30px !important;
}
.social-footer{
    border-bottom: 1px solid rgb(208,208,208)
}
.social-footer h3{
    text-align: center;
    display: block;
    color: rgb(145,145,145);
    font-family: 'Century Gothic';
    padding-top: 10px;
    padding-bottom: 20px;
}

.rounded-icon{
    text-align: center;
    padding-bottom: 15px
}

.rounded-icon i{
    padding: 10px;
    border-radius: 13px;
    border: 1px solid rgb(145,145,145);
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 1.6em;
    color: rgb(145,145,145);
    margin: 0 5px;
}

.closure-footer{
    border-top: 1px solid #fff; 
    padding-top: 10px; 
    padding-bottom: 20px;
    font-family: 'Century Gothic';
    color: rgb(145, 145, 145);
    font-size: .8em
}

.closure-footer div.col-6x:last-child{
    text-align: right
}

.closure-footer div.col-6x a:hover{
    color: rgb(62, 168, 251);
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.caption.sub-text{
    font-family: 'Century Gothic Bold' !important;
    font-variant: small-caps;
    font-weight: bold !important
}


.error textArea, .error input{
    border: 1px solid red;
}

.error label{
    color:red;
}

.errorLabel{
    position: absolute;
   /* bottom: -11px;*/
    left:100px;
    width:200px;
    font-size:11px;
    color:red
}

.field.privacy.error .errorLabel {
    position: relative;
    left:0px;
    text-align: left;
    
}

/* new */
.badgereserved{
    display:inline-block;
    margin:20px;
    background-color:rgba(179, 179, 179, 0.41);
    padding:10px;
    border-radius:20px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;    
    
}

.badgereserved a{
    display: block;
}


.badgereserved :first-child{
    padding-top:10px;
    padding-bottom:10px;
    text-decoration:underline;
}

.addressBadgeCl div{
    display:inline-block;
    background-color:lightgrey;
    padding:10px;
}

		#cropbox{
			width: 100%;
		}

		.overlay {
		    position: absolute;
		    top: 0;
		    left: 0;
		    height:100%;
		    width: 100%;
		    cursor: pointer;
		    z-index: 1000; /* high z-index */
		    background: #000; /* fallback */
		    background: rgba(0,0,0,0.75);
		}
	    .popoverImage {
	        background: #fff;
	        padding: 1%;
	        width: 40%;
	        position: absolute;
	        top: 15%;
	        left: 50%;
	        margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
	        cursor: default;
	        z-index: 10001;
	        border-radius: 4px;
	        box-shadow: 0 0 5px rgba(0,0,0,0.9);
	    }
	 
	    .close-btn {
	        cursor: pointer;
	        border: 1px solid #333;
	        padding: 2% 5%;
	        background: #a9e7f9; /* fallback */
	        background: -moz-linear-gradient(top,  #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
	        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e7f9), color-stop(4%,#77d3ef), color-stop(100%,#05abe0));
	        background: -webkit-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
	        background: -o-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
	        background: -ms-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
	        background: linear-gradient(to bottom,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
	        border-radius: 4px;
	        box-shadow: 0 0 4px rgba(0,0,0,0.3);
	    }
	    .close-btn:hover {
	        background: #05abe0;
	    }

	    .crop{
	    	display: none;
	    /*	width: 500px;*/
	    }
	  #target {
		background-color: #ccc;
		/*width: 500px;
		height: 330px;*/
		font-size: 24px;
		display: block;
	  }		
          .homeslogan{
                font-family: 'Century Gothic';
                font-size: 32px;
                color: #919191;
                text-align: left;
                box-sizing: border-box;
                padding-top: 20px;
                padding-bottom: 20px;
                font-style: italic;
                line-height: 43px;
          }
        

@media all and (max-width:415px) and (orientation: portrait){
    .right-floated-menu{
        margin-top: 20px;
        position: relative;
        bottom: initial;
        right: initial;
        margin-bottom: 5px;
    }
    
    .logo{
        position: relative;
        height: auto;
        width: 50%;
        margin: auto;
    }
    
    .logo img{
        height: auto;
        width: 100%
    }
    
    .big-icon-container{
        margin-top: 20px;
        display: block;
    }
    
    .big-icon-container a{
        margin: 0 5px;
        font-size: 1.3em;
    }
    
    .big-icon-container a:first-child{
        display: block
    }
    
    .closure-footer div.col-6x:last-child{
        margin-top: 10px;
        text-align: center
    }
    
    .closure-footer div.col-6x{
        text-align: center
    }
    
    .footer-menu-icon-set>.single{
        display: block
    }
    
    .footer-menu-icon-set>.single>a{
        text-align: center
    }
    
    .footer-menu-icon-set>.single>ul{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .footer-menu-icon-set>.single:last-child ul{
        margin-bottom: 0px;
    }
    
    .sub-big-icon .container .col-12x{
        padding-top: 0;
        padding-bottom: 20px;
    }
    
    .textured-section .container .col-12x{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{
        font-size: 14px !important
    }       
}

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){

    .popoverImage {
        width: 96%;
        margin: 0 2%;
        left: 0;
    }
}